$headers: "Lora", serif;
$p-txt: "Open Sans", sans-serif;
$bg-txt: "Montserrat", sans-serif;

$primary-color: #ffffff;
$secondary-color: #111111;
$ternary-color: #333333;
$highlight1: #37d090;
$highlight2: #e75a76;
$highlight3: #4fadff;
