/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
}

h2 {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 30px;
  padding: 10px 0px;
}

h3 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 10px 0px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

.no-wrap {
  white-space: nowrap;
}

.add-color:hover {
  color: #37d090;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.n-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px 40px;
  width: 1140px;
  max-width: 100%;
}

.main-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 75px 40px;
  width: 1140px;
  max-width: 100%;
}

.conclusion-header {
  margin: 0 auto;
  padding: 75px 40px 0;
  width: 1140px;
  max-width: 100%;
}

.conclusion {
  -webkit-columns: 2;
          columns: 2;
  margin: 0 auto;
  padding: 75px 20px;
  width: 1140px;
  max-width: 100%;
}

.main-section-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 auto;
  padding: 75px 40px;
  width: 1140px;
  max-width: 100%;
}

.bold {
  font-weight: 600;
}

.larger {
  font-size: 24px;
}

.btn {
  background: #ffffff;
  color: #111111;
  display: inline-block;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px 20px;
  width: 180px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background: #111111;
  border: solid 1px #ffffff;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ghost-btn {
  background: #111111;
  border: solid 1px #ffffff;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  width: 170px;
  text-align: center;
  text-decoration: none;
}

.ghost-btn:hover {
  background: #ffffff;
  border: solid 1px #111111;
  color: #111111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.neighbor-btns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  width: 370px;
  max-width: 100%;
}

.pad {
  padding: 20px;
}

.padtop {
  padding-top: 20px;
}

.padbot {
  padding-bottom: 40px;
}

.padx {
  padding: 0 20px;
}

.no-padtop {
  padding-top: 0 !important;
}

.no-padbot {
  padding-bottom: 0 !important;
}

.full-row {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 1140px;
}

footer {
  text-align: center;
  padding: 20px 40px;
}

.nav-link {
  font-size: 30px;
  padding: 30px 20px;
}

.footer-text {
  padding: 20px 0;
}

.text-wrap {
  padding-right: 75px;
}

.left-side {
  max-width: 100%;
  width: 500px;
}

.right-side {
  text-align: right;
  width: 500px;
  max-width: 100%;
}

.home-image {
  width: 500px;
  padding: 20px 0;
  max-width: 100%;
}

.single-btn {
  padding-top: 20px;
}

.show {
  display: none;
}

@media screen and (max-width: 800px) {
  .shrink {
    padding: 5px;
    width: 100%;
  }
  .text-wrap {
    padding-right: 0;
  }
  .bg-txt {
    font-size: 8rem;
    top: 4.6em;
  }
  .main-section-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid-item {
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 100%;
    padding-top: 30px;
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  .spacer {
    margin-top: 40px;
  }
  .full {
    width: 350px;
    margin: 0 auto;
    max-width: 100%;
  }
  .no-padtop-600 {
    padding-top: 0 !important;
  }
  .no-padbot-600 {
    padding-bottom: 0 !important;
  }
  .center {
    text-align: center;
  }
  .main-nav {
    padding: 20px 0 0;
  }
  .n-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 40px;
  }
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 40px 0;
  }
  .main-section-grid {
    display: block;
    padding: 25px 40px;
  }
  .grid-item {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 30px;
    width: 100%;
  }
  .home-hero {
    text-align: center;
    margin: 0 auto;
  }
  .neighbor-btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    width: 100%;
  }
  .left-side,
  .right-side {
    text-align: center;
  }
  .right-side {
    margin-top: 20px;
  }
  .home-image {
    margin: 0 auto;
  }
  .single-btn {
    padding-top: 15px;
  }
  .conclusion {
    -webkit-columns: 1;
            columns: 1;
  }
}

.menu-show {
  display: none;
}

#menu-btn {
  display: none;
}

.home-label {
  background: transparent;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: right;
  height: 50px;
  padding: 15px 10px;
  position: absolute;
  right: 12%;
  top: 1.5rem;
  width: 50px;
  z-index: 1000;
}

.nav-stick {
  border-top: solid 3px #ffffff;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
}

.nav-stick:not(:first-child) {
  margin-top: 6px;
}

#menu-btn:checked + .home-label > .nav-stick:nth-child(2) {
  opacity: 0;
}

#menu-btn:checked + .home-label > .nav-stick:first-child {
  border-top-color: #111111;
  -webkit-transform: rotate(45deg) translateY(7px) translateX(7px);
          transform: rotate(45deg) translateY(7px) translateX(7px);
}

#menu-btn:checked + .home-label > .nav-stick:last-child {
  border-top-color: #111111;
  -webkit-transform: rotate(-45deg) translateY(-6px) translateX(5px);
          transform: rotate(-45deg) translateY(-6px) translateX(5px);
}

.nav-background {
  background: transparent;
  border-radius: 50%;
  display: block;
  height: 50px;
  float: right;
  overflow: hidden;
  position: fixed;
  right: 12%;
  top: 1.2rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 50px;
  z-index: 100;
}

#menu-btn:checked ~ .nav-background {
  background: #ffffff;
  background-position: 0, 0;
  background-size: cover;
  -webkit-transform: scale(100);
          transform: scale(100);
}

.hamburger {
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  visibility: hidden;
  width: 0;
  z-index: 150;
}

#menu-btn:checked ~ .hamburger {
  opacity: 1;
  visibility: visible;
  width: 100vw;
}

.nav-wrap {
  left: 50%;
  list-style-type: none;
  position: absolute;
  text-align: center;
  top: 25%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100vw;
  height: 100vh;
}

.navigation-item {
  background-image: linear-gradient(120deg, transparent 0, transparent 50%, #111 50%);
  background-size: 220%;
  color: #111;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 50%;
}

.navigation-item a {
  color: #111111;
  font-size: 35px !important;
  text-decoration: none;
}

.navigation-item a:hover {
  color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation-item:hover {
  background-position: 100%;
  color: #ffffff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.navigation-item:hover > a {
  color: #ffffff;
  padding: 20px auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-link:hover {
  background: #4fadff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .menu-hide {
    display: none;
  }
  .menu-show {
    display: block;
  }
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  color: #ffffff;
  padding: 25px;
  text-decoration: none;
}

.logo {
  width: 120px;
}

.home-hero {
  padding: 75px 0;
}

.ct-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  padding: 30px 20px;
}

.ct-left {
  width: 500px;
  max-width: 100%;
}

.ct-right {
  width: 500px;
  max-width: 100%;
}

.ct-right video {
  width: 500px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .ct-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.phone-image {
  max-width: 100%;
  padding: 40px 20px 20px;
  width: 250px;
}

.icon-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icons {
  padding: 10px 0;
}

.story-wrap {
  border: 2px solid #ffffff;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .icon-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media screen and (max-width: 600px) {
  .alignleft {
    text-align: left;
  }
  .icon-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .icons {
    padding-top: 40px;
    width: 20%;
  }
}

.hero-image {
  background: url(/images/BiographyHero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  margin-bottom: 24px;
  margin-top: 0;
  padding-top: 40%;
  width: 100%;
  text-indent: -9999px;
}

.hero-header {
  position: relative;
}

@media screen and (max-width: 600px) {
  .hero-image {
    padding-top: 45%;
  }
}

label {
  display: none;
}

form input {
  background: #111111;
  border: solid 2px #ffffff;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  margin: 20px auto 0;
  max-width: 100%;
  padding: 1rem 1rem;
  text-decoration: none;
  width: 400px;
  resize: vertical;
}

form textarea {
  background: #111111;
  border: solid 2px #ffffff;
  color: #ffffff;
  font-size: 14px;
  height: 100px;
  margin: 20px auto 0;
  max-width: 100%;
  outline: none;
  padding: 1rem 1rem 0;
  text-decoration: none;
  width: 400px;
}

.aligncenter {
  text-align: center;
}

@media screen and (max-width: 987px) {
  .snap {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column wrap !important;
            flex-flow: column wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
/*# sourceMappingURL=style.css.map */