@import "partials/reset";
@import "partials/variables";

html {
  background: $secondary-color;
  color: $primary-color;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  overflow-wrap: hidden;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
  background: $highlight3;
}

h1 {
  font-family: $headers;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

h2 {
  font-family: $headers;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

h4 {
  font-family: $p-txt;
  font-size: 2.7rem;
  font-weight: semibold;
  line-height: 140%;
  margin: 1.8rem 0 4rem;
}

h5 {
  font-family: $p-txt;
  font-size: 1.8rem;
  font-weight: light;
  padding-top: 0.5rem;
}

p {
  font-family: $p-txt;
  font-size: 2rem;
  font-weight: semibold;
  line-height: 140%;
  padding: 1.8rem 0 2rem;
}

img {
  padding-top: 8rem;
}

section {
  position: relative;
  z-index: 1;
}

#menu-btn {
  display: none;
}

.home-label {
  background: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  float: right;
  height: 50px;
  padding: 15px 10px;
  position: absolute;
  right: 12%;
  top: 1.2rem;
  width: 50px;
  z-index: 1000;
}

.nav-stick {
  border-top: solid 3px $primary-color;
  display: block;
  transition: all 0.4s;
  width: 100%;
}

.nav-stick:not(:first-child) {
  margin-top: 6px;
}

#menu-btn:checked + .home-label > .nav-stick:nth-child(2) {
  opacity: 0;
}

#menu-btn:checked + .home-label > .nav-stick:first-child {
  border-top-color: $secondary-color;
  transform: rotate(45deg) translateY(7px) translateX(7px);
}

#menu-btn:checked + .home-label > .nav-stick:last-child {
  border-top-color: $secondary-color;
  transform: rotate(-45deg) translateY(-6px) translateX(5px);
}

.nav-background {
  background: transparent;
  border-radius: 50%;
  display: block;
  height: 50px;
  float: right;
  overflow: hidden;
  position: fixed;
  right: 12%;
  top: 1.2rem;
  transition: all 0.4s;
  width: 50px;
  z-index: 100;
}

#menu-btn:checked ~ .nav-background {
  background: $primary-color;
  background-position: 0, 0;
  background-size: cover;
  transform: scale(100);
}

.main-nav {
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  visibility: hidden;
  width: 0;
  z-index: 150;
}

#menu-btn:checked ~ .main-nav {
  opacity: 1;
  visibility: visible;
  width: 100vw;
}

.navi {
  left: 50%;
  list-style-type: none;
  position: absolute;
  text-align: center;
  top: 25%;
  transform: translate(-50%);
  width: 100vw;
}

.menu-item {
  background-image: linear-gradient(
    120deg,
    transparent 0,
    transparent 50%,
    #111 50%
  );
  background-size: 220%;
  color: #111;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 2rem 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
  width: 50%;
  a {
    color: $secondary-color;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
    transition: all 0.4s;
  }
}

.menu-item:hover {
  background-position: 100%;
  color: $primary-color;
  transform: translateX(20px);
}

.nav-link:hover {
  background: $highlight3;
  transition: 0.5s;
}

.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  height: 8rem;
  justify-content: space-between;
  width: 100%;
}

header {
  border-bottom: solid 1px $primary-color;
}

.col-50 {
  font-family: $p-txt;
  font-size: 1.8rem;
  line-height: 140%;
  width: 50rem;

  ul {
    border: solid 1px $primary-color;
    margin-top: 6rem;
  }

  li {
    padding: 2rem;
  }
}

footer {
  border-top: solid 1px $primary-color;
  text-align: center;

  h1 {
    text-transform: uppercase;
    padding-top: 10rem;
  }
  h4 {
    margin-bottom: 5rem;
  }
  i {
    color: $primary-color;
    font-size: 3.5rem;
    margin: 5rem 0 5rem;
    padding: 2rem 3rem;
    text-decoration: none;
  }
}

.logo {
  position: absolute;
  padding: 1.2rem 2rem 2rem 12%;
  width: 12rem;
}

.hero {
  animation: fadeIn 1s ease-in;
  border-bottom: solid 1px $primary-color;
  height: 60vh;
  padding: 19rem 0 2rem 12%;
}

.txt-type > .txt {
  border-right: 0.2rem solid $primary-color;
}

.scroller {
  padding-top: 8rem;
  text-orientation: sideways;
  visibility: hidden;
  writing-mode: vertical-rl;
}

.pulsate {
  animation: opacityPulse 1.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  visibility: visible;
}

// KEYFRAMES ////////////////////////
@keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

////////////////////////////////////

.btn {
  background: $primary-color;
  border: solid 2px $primary-color;
  color: $secondary-color;
  font-family: $p-txt;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  text-decoration: none;
}

.btn:hover {
  background: $highlight3;
  border: solid 2px $highlight3;
  color: $primary-color;
  transition: 0.3s;
}

.project {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 2rem 20rem 2rem;
  width: 100%;

  p {
    margin-bottom: 4rem;
    width: 40rem;
  }
}

.jybe-section {
  padding-top: 15rem;
}

.jybe-intro {
  padding-top: 5rem;
  width: 48rem;
}

.gdii {
  width: 55rem;
}

.single-img {
  max-width: 100%;
  width: 50rem;
}

.bg-txt {
  color: $ternary-color;
  font-family: $bg-txt;
  font-size: 12rem;
  font-weight: 800;
  margin: 10rem 0 0 -2rem;
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  z-index: -1;
}

.bg-txt-dev {
  color: $ternary-color;
  font-family: $bg-txt;
  font-size: 12rem;
  font-weight: 800;
  margin: -4rem 0 0 -2rem;
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  z-index: -1;
}

// .testimonials {
//   padding-bottom: 12rem;
// }

// .slider {
//   display: flex;
//   height: 40rem;
//   margin: 0 auto;
//   width: 47.5rem;
//   overflow-x: auto;
//   -webkit-overflow-scrolling: touch;
//   scroll-snap-type: x mandatory;
// }

// .slide {
//   width: 47.5rem;
//   text-align: center;
//   flex-shrink: 0;
//   height: 100%;
//   scroll-behavior: smooth;

//   img {
//     width: 15rem;
//   }
//   p {
//     margin: 1rem auto 0;
//   }
// }

// .slide > div {
//   scroll-snap-align: start;
// }

// .slider-btns {
//   a {
//     width: 50px;
//     height: 50px;
//     border-radius: 5px;
//     background: white;
//   }
// }

.footer-btn {
  background: $primary-color;
  border: solid 2px $primary-color;
  color: $secondary-color;
  font-family: $p-txt;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8rem 7rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-btn:hover {
  background: $highlight3;
  border: solid 2px $highlight3;
  color: $primary-color;
  transition: 0.3s;
}

// CONTACT PAGE ////////////////////////////

.contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 18rem 0 15rem 0rem;
  width: 100%;
}

.contact-hero {
  padding-left: 8%;
  h2 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 120%;
  }
  p {
    width: 43rem;
  }
}

.bg-txt-contact {
  color: $ternary-color;
  font-family: $bg-txt;
  font-size: 12rem;
  font-weight: 800;
  margin: 9rem 0 0 -2rem;
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  z-index: -1;
}

.form-container {
  padding: 0 12rem 0 0;
}

form {
  display: inline-grid;
  label {
    display: none;
  }
  input {
    background: $secondary-color;
    border: solid 2px $primary-color;
    box-sizing: border-box;
    color: $primary-color;
    font-size: 1.8rem;
    outline: none;
    margin: 2.5rem auto 0;
    max-width: 100%;
    padding: 1rem 1rem;
    text-decoration: none;
    width: 48rem;
  }
  textarea {
    background: $secondary-color;
    border: solid 2px $primary-color;
    box-sizing: border-box;
    color: $primary-color;
    font-size: 1.8rem;
    height: 20rem;
    margin: 2.5rem 0 0;
    max-width: 100%;
    outline: none;
    padding: 1rem 1rem 0;
    text-decoration: none;
    width: 48rem;
  }
}

.min-foot {
  i {
    line-height: 0;
    margin: 0 auto;
    padding: 4rem 3rem;
  }
}

.form-btn {
  background: $primary-color;
  border: solid 2px $primary-color;
  color: $secondary-color;
  font-family: $p-txt;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 80%;
}

.form-btn:hover {
  background: $highlight3;
  border: solid 2px $highlight3;
  color: $primary-color;
  transition: 0.3s;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 8px;
  }

  .hero {
    height: 40vh;
  }

  .home-label {
    top: 0.8rem;
  }

  .contact-wrapper {
    display: block;
    margin: 0 auto;

    .contact-hero {
      margin: 0 auto;
      max-width: 100%;
      width: 48rem;
    }
  }

  .form-container {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 80%;
  }
}

// ABOUT PAGE ////////////////////////////

.about-hero {
  color: white;
  position: relative;
  text-align: center;
  h1 {
    bottom: 25%;
    left: 12%;
    position: absolute;
  }
  img {
    border-bottom: solid 1px $primary-color;
    width: 100%;
  }
}

.about-hero-image {
  padding: 0;
}

.about-section {
  margin: 0 auto 19.5rem;
  width: 75%;

  h2 {
    font-size: 4.8rem;
    font-weight: 600;
    padding: 19.5rem 0 2rem;
  }
  h4 {
    font-family: $headers;
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 2.5rem;
  }
  p {
    font-size: 2.2rem;
    line-height: 140%;
  }
  span {
    font-size: 1.5rem;
  }
}

// JYBE CASE STUDY PAGE ////////////////////////////

%flex-layout {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15rem 0rem 20rem 0;
  width: 100%;
}

.project-hero {
  @extend %flex-layout;
  border-bottom: solid 1px $primary-color;
}

.project-cta {
  padding: 0 0 0 5rem;
}

.jybe-ipad {
  height: auto;
  width: 55rem;
}

.specs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  padding-top: 15rem;
  max-width: 100%;
  > div {
    box-sizing: border-box;
    flex: 1;
    min-width: 25rem;
    padding: 6%;
    width: 25%;
  }

  h2 {
    font-family: $headers;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  li {
    font-family: $p-txt;
    font-size: 2rem;
    line-height: 140%;
  }
}

.overview {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5rem 0rem 10rem 0;
  width: 100%;
}

.problem-solution {
  padding: 3rem 0 0 0;
  width: 55rem;
  max-width: 100%;
  h2 {
    font-family: $headers;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 4rem;
  }
}

.jybe-iphone {
  width: 32rem;
  height: auto;
  padding: 4rem 6% 0;
}

.discovery {
  box-sizing: border-box;
  display: block;
  padding: 7rem 7% 10rem;
  width: 100%;
  h2 {
    font-family: $headers;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 4rem;
  }
  li {
    font-family: $p-txt;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 140%;
    padding-bottom: 2rem;
  }
  strong {
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  p {
    width: 60rem;
  }
}

.comp-analysis {
  @extend %flex-layout;
  max-width: 100%;
  padding-top: 0;
  p {
    width: 55rem;
  }
}

.left-section {
  padding: 6rem 6% 0;
}

.right-section {
  padding-top: 5rem;
  text-align: center;
  .cloud-logos {
    margin-bottom: 5rem;
  }
  img {
    padding: 2.5rem;
    width: 9rem;
  }
  a {
    margin-top: 3rem;
  }
}

.cloud-logos > img:nth-child(3) {
  width: 7rem;
}

.personas {
  @extend %flex-layout;
  padding-top: 0;
  p {
    width: 55rem;
  }
}

.persona-cta {
  p {
    margin-bottom: 4rem;
  }
}

.persona-doc {
  padding: 0 !important;
  width: 25rem;
}

.persona-col {
  margin-top: 8rem;
}

.stories {
  @extend %flex-layout;
  padding-top: 0;
  p {
    margin-bottom: 4rem;
    max-width: 100%;
    width: 53rem;
  }
  img {
    max-width: 100%;
    padding: 0;
  }
}

.flows {
  @extend %flex-layout;
  padding-top: 0;
  p {
    margin-bottom: 4rem;
    width: 53rem;
  }
  .left-btn {
    margin-right: 2.3rem;
  }
  img {
    max-width: 100%;
    padding: 0;
    width: 45%;
  }
}

.wireframing {
  padding-bottom: 15rem;
}

.wireframing-cta {
  display: block;
  max-width: 100%;
  padding: 0 6%;
  width: 55rem;
  h2 {
    padding: 7rem 0 4rem;
  }
}

.image-wrapper {
  text-align: center;
  img {
    padding: 3rem;
  }
  .sketch1,
  .sketch2 {
    max-width: 100%;
    width: 50rem;
  }
  .sketch3 {
    width: 75%;
  }
}

.branding {
  padding-bottom: 20rem;
}

.branding-cta {
  padding: 6% 6% 3%;
  width: 54rem;
  h2 {
    padding-bottom: 4rem;
  }
}

.brand-image-wrap,
.mockup-image-wrap {
  text-align: center;
  width: 100%;
}

.mockup-image-wrap > img {
  max-width: 100%;
  width: 55rem;
}

.mindmap {
  width: 52rem;
  padding: 3rem;
}

.style-guide {
  width: 50rem;
  padding: 3rem;
}

.branding-btn {
  margin: 0 6%;
}

.mockup-cta {
  padding: 0 6%;
  width: 54rem;
  h2 {
    padding-bottom: 4rem;
  }
}

.mockup-image-wrap {
  img {
    max-width: 100%;
    padding: 2rem;
    vertical-align: top;
  }
}

.btn-wrapper {
  margin: 8rem 0 20rem;
  text-align: center;
  a {
    margin: 0 4rem 0 0;
  }
}

.conclusion {
  margin-bottom: 15rem;
  padding: 0 6%;
  .summary {
    margin: 0 auto;
    padding-top: 8rem;
    width: 63rem;
  }
}
.up-next {
  margin-bottom: 15rem;
  a {
    margin-left: 8%;
  }
}

.up-next-cta {
  padding: 0 6%;
  width: 54rem;
  max-width: 100%;
  h2 {
    font-size: 3.6rem;
    padding-bottom: 4rem;
  }
  h4 {
    font-weight: bold;
    margin: 0;
  }
}

.portfolio-showcase {
  padding: 4rem 6%;
  text-align: left;
  img {
    padding: 1rem;
  }
  .mof-ad {
    width: 30rem;
  }

  .scp-ad {
    width: 25rem;
  }

  .cr-sign {
    width: 30rem;
  }
}

@media screen and (max-width: 786px) {
  .specs > div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 40rem;
    padding: 6% 10%;
    width: 40%;
  }

  .mockup-cta {
    margin: 0 auto;
  }

  .col-50 {
    width: 53rem;
  }

  .branding-cta {
    margin: 0 auto;
  }

  .branding-btn {
    margin: 6% 6% 0;
    text-align: center;
  }

  .wireframing-cta {
    margin: 0 auto;
  }

  .flows > img {
    display: block;
    max-width: 100%;
    padding-top: 8rem;
    text-align: center;
    width: 85%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 6px;
  }

  section {
    padding-bottom: 5rem;
  }

  .home-label {
    top: 0rem;
  }

  .bg-txt {
    font-size: 8rem;
    margin-top: 10rem;
  }

  .bg-txt-dev {
    font-size: 8rem;
    margin-top: -2rem;
  }

  .discovery > p {
    width: 55rem;
  }

  .left-section {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  .cloud-logos > img {
    width: 9rem;
  }

  .cloud-logos > img:nth-child(3) {
    width: 7rem;
  }

  .stories > img {
    padding-top: 8rem;
    width: 53rem;
  }

  .summary {
    width: 55rem !important;
  }

  .portfolio-showcase {
    img {
      width: 100% !important;
    }
  }
}
