/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
}

h2 {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 30px;
  padding: 10px 0px;
}

h3 {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1px;
  padding: 10px 0px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

.no-wrap {
  white-space: nowrap;
}

.n-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 20px 40px;
  width: 1140px;
  max-width: 100%;
}

.main-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 75px 40px;
  width: 1140px;
  max-width: 100%;
}

.btn {
  background: #ffffff;
  color: #111111;
  display: inline-block;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px 20px;
  width: 170px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background: #111111;
  border: solid 1px #ffffff;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ghost-btn {
  background: #111111;
  border: solid 1px #ffffff;
  color: #ffffff;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  width: 170px;
  text-align: center;
  text-decoration: none;
}

.ghost-btn:hover {
  background: #ffffff;
  border: solid 1px #111111;
  color: #111111;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.neighbor-btns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  width: 360px;
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 20px 40px;
}

.nav-link {
  font-size: 30px;
  padding: 30px 20px;
}

.footer-text {
  padding: 20px 0;
}

.text-wrap {
  padding-right: 75px;
}

.left-side {
  max-width: 100%;
  width: 500px;
}

.right-side {
  text-align: right;
  width: 500px;
  max-width: 100%;
}

.home-image {
  width: 500px;
  padding: 20px 0;
  max-width: 100%;
}

.single-btn {
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .text-wrap {
    padding-right: 0;
  }
  .bg-txt {
    font-size: 8rem;
    top: 4.6em;
  }
}

@media screen and (max-width: 600px) {
  .hide {
    display: none;
  }
  .spacer {
    margin-top: 40px;
  }
  .main-nav {
    padding: 20px 0 0;
  }
  .n-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px;
  }
  .main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 40px 0;
  }
  .home-hero {
    text-align: center;
    margin: 0 auto;
  }
  .neighbor-btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    width: 100%;
  }
  .left-side,
  .right-side {
    text-align: center;
  }
  .home-image {
    margin: 0 auto;
  }
  .single-btn {
    padding-top: 15px;
  }
}

.menu-item {
  display: inline-block;
}

.menu-item a {
  color: #ffffff;
  padding: 25px;
  text-decoration: none;
}

.logo {
  width: 120px;
}

.home-hero {
  padding: 75px 0;
}

.ct-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  padding: 30px 20px;
}

.ct-left {
  width: 500px;
  max-width: 100%;
}

.ct-right {
  width: 500px;
  max-width: 100%;
}

.ct-right video {
  width: 500px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .ct-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */